body{
  background-color:  hsl(233, 47%, 7%);


}
h2{
  color:hsl(0, 0%, 100%);
   font-size: 35px;
   margin-top: 55px;
   width:380px;


  font-family: 'Inter', sans-serif;

}
.between{
  color:hsl(277, 64%, 61%);
}
.content{
  background-color: hsl(244, 38%, 16%);
  position: absolute;
  width: 70%;
  height: 60%;
  border-radius:1%;
  right: 15%;
  top:20%;
  text-align: left;

}
.content-data{

  padding-left: 6%;
  padding-right: 8%;
  width: 45%;
}
.image{
  float:right;
  height: 100%;
  width: 50%;
  border-top-right-radius:1%;
  border-bottom-right-radius: 1%;
 filter: opacity(.7) drop-shadow(0px 0px 1px hsl(277, 86%, 33%)) saturate(1.65);

}
.main-paragraph{
  color:hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  width:80%;
  margin-bottom: 15%;

  line-height: 1.4;
}
.stat{
  display: inline-block;
  margin-right:15%;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  color:hsla(0, 0%, 100%, 0.6);
}
.stat-heading{
  color:hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 700;


}

  .attribution { font-size: 11px;
    color:hsla(0, 0%, 100%, 0.6);
    position: relative;
    top: 700px;
    text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
